.speed_div
{
    float: left;
}

#speed, #volume
{
    font-size: 23px;
    margin: 15px;
}

.div_img
{
    width: 200px;
    border-radius: 100px;
}


.volume_div
{
    float: right;
}

.heading
{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}
     

 button
{
    width: 130px;
    font-size: 25px;
}

canvas 
{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 50px;
}
